html {
  font-family: serif, Arial, "Times new roman";
  font-size: 14pt;
}

body {
  margin: 0;
}

.anchor--arrow {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.anchor--arrow .btn-arrow {
  text-decoration: none;
  font-size: 40px;
}
.anchor--arrow .btn-arrow .btn-white {
  color: white;
}
.anchor--arrow .btn-arrow .btn-black {
  color: black;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
}
.wrapper .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100vh;
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .hero__nav {
  top: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.199);
}
.wrapper .hero__titel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.wrapper .hero__titel--bold {
  font-style: initial;
  font-size: 1.7em;
  margin-left: 20px;
  margin-right: 20px;
}
.wrapper .hero__titel--sm {
  font-size: 1.5em;
  font-weight: 100;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.wrapper .container {
  text-align: center;
  margin: 20px 0px 20px 0px;
}
.wrapper .team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-align: center;
  width: 100%;
  margin: 60px 0 60px 0;
}
.wrapper .team__image {
  height: auto;
  width: 70%;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.411);
}
.wrapper .team__desc {
  background-color: rgb(218, 218, 218);
  padding: 20px;
  border-radius: 10px;
  margin: 15px 15px 0px 15px;
  width: 75%;
  min-height: 100px;
}
.wrapper .team__desc--icon {
  transform: rotate(180deg);
  font-size: 50px;
}
.wrapper .footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.wrapper .footer .contact__info {
  list-style-type: none;
  padding: 10px 0px 10px 0px;
  margin: 10px;
}
.wrapper .footer .contact__info * {
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .wrapper .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .wrapper .container__titel {
    width: 100%;
  }
  .wrapper .container .team {
    text-align: center;
    width: 100%;
    margin: 60px 0 60px 0;
    width: 50%;
  }
  .wrapper .container .team__image {
    height: auto;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.411);
  }
  .wrapper .container .team__desc {
    background-color: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 10px;
    margin: 15px 15px 0px 15px;
    width: 75%;
    min-height: 100px;
  }
  .wrapper .container .team__desc--icon {
    transform: rotate(180deg);
    font-size: 50px;
  }
  .wrapper .footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .wrapper .footer .contact {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
  }
  .wrapper .footer .contact__info {
    width: 25%;
  }
}

/*# sourceMappingURL=main.css.map */
