@use "mixins";

html {
    scroll-behavior: smooth;
}
// mobile
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        height: 100vh;
        background-image: url(../assets/negative-space-black-forest-dawn.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        &__nav {
        top: 0;
        height: 80px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.199);
        }

        &__titel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 100%;

            &--bold {
                font-style: initial;
                font-size: 1.7em;
                margin-left: 20px;
                margin-right: 20px;

            }

            &--sm {
                font-size: 1.5em;
                font-weight: 100;
                padding: 10px;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    main {
        text-align: center;
    }

    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include mixins.people;
    }
    

    .footer {
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__adress {
            margin: 10px;
        }
        &__contact {
            margin: 10px;
        }
        &__socialmedia {   
            margin: 10px;
        }
    }
}