@use "mixins";


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        height: 100vh;
        background-image: url(../assets/negative-space-black-forest-dawn.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        &__nav {
        color:white;
        top: 0;
        height: 60px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.10);
        }

        &__titel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 10px;
            
            margin-left: 20px;
            margin-right: 20px;

            &--bold {
                font-weight: bold;
                font-size: 1.8em;
            }
        }
    }
    .container {

    }
}